@import url(./base.css);

div.banner_container {
    background: url(../images/about.jpg) no-repeat center center fixed;
    background-size: cover;
    box-shadow: inset 2em 1em 1em, inset -2em -1em 1em;
}

div.intro {
    height: 80vh;
    /* padding: 3rem 5rem; */
    padding: 3rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}

@media only screen and (max-width: 600px) {
    div.intro {
        height: fit-content;
    }
}