@import url(./base.css);

div.banner_container {
    background: url(../images/menu.jpg) no-repeat center center fixed;
    background-size: cover;
}

div.menu_notes {
    border: 2px solid red;
    height: 30vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.menu_notes p {
    text-align: center;
}

div.menu_container {
    border: 2px solid pink;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: repeat(autofit, minmax(min(100%, 400px), 1fr)); */
}

div.menu_subcontainer {
    border: 2px solid brown;
}

div.menu_section {
    padding: 2rem;
}

div.menu_header {
    /* line-height: 2rem; */
    border: 2px solid red;
    padding-bottom: 1rem;
}

div.menu_section ul.menu_subsection li {
    list-style-type: none;
    padding-bottom: 1rem;
    font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
    div.menu_container {
        grid-template-columns: 1fr;
    };
}